<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= name %> Profile </title>
  
</head>
<body>
    <h1>Welcome, <%= name %></h1>
    <p> 
        Your appointment is at: 
        <br>
        Location: <%= profile.location %>
        <br>
        Time: <%= profile.time %>


    </p>
</body>
</html>